@model Way2Buy.Models.ProductViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<style>
    .hiddenDiv {
        display: none;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $('input[type="checkbox"]').click(function () {
            $(".OfferDiv").toggle();
        });
    });
</script>
@using (Html.BeginForm("Create", "Product",
    FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form>
                <h4>Product</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Product.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Product.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Product.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Categories, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Product.CategoryId, new SelectList(Model.Categories, "CategoryId", "CategoryName"), "--Select a category--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Product.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Product.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Product.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Product.IsOfferItem, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.Product.IsOfferItem, false)
                        @Html.ValidationMessageFor(model => model.Product.IsOfferItem, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group hiddenDiv OfferDiv" id="#OfferPriceDiv">
                    @Html.LabelFor(model => model.Product.OfferPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Product.OfferPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product.OfferPrice, "", new { @class = "text-danger" })
                    </div>
                </div>                
                <div class="form-group">
                    <label>Choose Image</label>
                    <div class="col-md-10">
                        <input type="file" name="Image" size="40" class="form-control-file btn btn-light">
                    </div>                                        
                    @if (Model.Product!= null && Model.Product.ImageData == null)
                    {
                        <div class="form-control-static">No Image</div>

                    }
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

                 