@model Way2Buy.Models.ProductListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2> Products </h2>
<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th>
            @Html.DisplayName("ProductImage")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Products.ToList()) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Url.Action("GetImage","Product", new { productId= item.ProductId })" height="50" width="50" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Create", new { productId = item.ProductId }) |            
                @Html.ActionLink("Delete", "Delete", new { productId = item.ProductId })
            </td>
        </tr>
    }
   
</table>

<div>
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
