@using Way2Buy.BusinessObjects.Entities
@using System.Security.Policy
@model Way2Buy.Models.ProductListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div>
    <h2> Products </h2>
</div>
<div class="row float-right">
    <div class="col">
        <p>
            @Html.ActionLink("Create New", "Create", "Product", null, new { @class = "btn btn-success" })
        </p>
    </div>
</div>
<div style="clear: both;">
</div>
<div class="row top-buffer">
</div>
<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
            <div class="input-group">
                <input class="form-control input-group-lg w-100 p-3" style="max-width: 50%;" id="nameSearch" name="nameSearch" type="text" placeholder="Search..">
                <span class="ml-3">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Search</button>
                </span>
            </div>

        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="row float-right">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h6>Items Per Page</h6>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                @{
                    var listItems = new List<SelectListItem>
                    {
                        new SelectListItem {Text = "5", Value = "5"},
                        new SelectListItem {Text = "10", Value = "10"},
                        new SelectListItem {Text = "15", Value = "15"}
                    };
                    @Html.DropDownList("ItemsPerPage", listItems, "--Select--", new { @class = "form-control", style = "width: 130px;" })
                }
            </div>
        </div>
    </div>
</div>
<div class="row top-buffer">
</div>
<div class="container-fluid">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("ProductImage")
            </th>
            <th>
                @Html.DisplayName("Actions")
            </th>
        </tr>
        <tbody id="productRow">
            @Html.Partial("ProductListPartial", Model)
        </tbody>

    </table>
</div>

<script>
    $(document).ready(function () {

        // Autocomplete event on search text box.
        $("#nameSearch").autocomplete({
            source: '@Url.Action("GetProductNames", "Product")',
            classes: {
                "ui-autocomplete": "highlight"
            }
        });

        // Items per page click.
        $('#ItemsPerPage').on('change', function (event) {
            var resultValue = $('#ItemsPerPage').val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetSearchResults", "Product")",
                data: {
                    pageSize: resultValue
                },
                success: function (data) {
                    $("#productRow").html(data);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        // Search button's submit click event
        $("#btnSubmit").on("click", function () {
            var searchTerm = $("#nameSearch").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetSearchResults", "Product")",
                data: {
                    nameSearch: searchTerm
                },
                success: function (data) {
                    $("#productRow").hide();
                    $("#productRow").html(data);
                    $("#productRow").show();
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        // Pagination click event.
        $(document).on("click", "a.pagination-link", function () {
            var pageNumber = $(this).text();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetSearchResults", "Product")",
                data: {
                    page: pageNumber,
                    pageSize: $("#ItemsPerPage").val()
                },
                success: function (data) {
                    $("#productRow").html(data);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("on error");
                    alert(errorThrown);
                }
            });
        });
    });
</script>