@model Way2Buy.Models.ProductListViewModel

   
@if (!Model.Products.Any())
{
    <tr>
        <td><h6> No records found</h6></td>
    </tr>
}
else
{
    foreach (var item in Model.Products.ToList())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Url.Action("GetImage", "Product", new {productId = item.ProductId })" height="50" width="50" alt=""/>
            </td>
            <td>
                @Html.ActionLink("Edit", "Create", new { productId = item.ProductId }, new { @class = "btn btn-link" }) |                
                <input type="button" class="btn btn-link deleteProduct" value="Delete"  />                
            </td>
        </tr>
    }

    <tr>
        @if (Model.Products.Any())
        {
            <td>
                @Html.PageLinksForSearchPage(Model.PageInfo)
            </td>
        }
    </tr>
}

<script>

    $(document).ready(function() {

        $(".deleteProduct").on("click", function () {
            
            var retVal = confirm("Are you sure you want to delete this product ?");
            if (retVal === true) {
                alert("User wants to continue!");

                var resultValue = $('#ItemsPerPage').val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetSearchResults", "Product")",
                    data: {
                        pageSize: resultValue
                    },
                    success: function (data) {
                        $("#productRow").html(data);
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });

            }
        });        
    });

</script>